{% extends "base.html" %}

{% block title%}Project Detail{% endblock %}

{% block content %}

<h1>{{ project.project_name }}</h1>
<h3>Teacher <span style="color: #bbbbbb">{{ project.teacher_name }}</span></h3>
<h3>Subject <span style="color: #bbbbbb">{{ project.get_subject_display }}</span></h3>
<h3>Outlet Needed <span style="color: #bbbbbb">{{ project.outlet|yesno|capfirst }}</span></h3>
<!--<h3>Tags
{% for tag in project.tags.all %}
<span style="color: #bbbbbb">{{ tag }}</span>
{% endfor %}</h3>-->
<h3>Abstract</h3>
<p>{{ project.abstract }}</p>

{% endblock %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}